<!DOCTYPE html>
<html lang="en">
<head>
<style>
    table, tr, td {
        border:  1px solid;
    }
</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Table style="width:100%">
        <Tr>
            <td>
                student_id
            </td>
            <td>
                f_name
            </td>
            <td>
                l_name
            </td>
            <td>
                subject_id
            </td>
            <td>
                subject_name
            </td>
            <td>
                grade
            </td>
            <td>
                f_name_teacher
            </td>
            <td>
                l_name_teacher
            </td>
        </Tr>
        <tr>
            <td>
                6406022620037
            </td>
            <td>
                Bunnapon
            </td>
            <td>
                Takumwan
            </td>
            <td>
                060233112
            </td>
            <td>
                DATA ENGINEERING
            </td>
            <td>
                A
            </td>
            <td>
                Sarayoot
            </td>
            <td>
                Tanessakulwattana
            </td>
        </tr>
        <tr>
            <td>
                6406022620037
            </td>
            <td>
                Bunnapon
            </td>
            <td>
                Takumwan
            </td>
            <td>
                060233113
            </td>
            <td>
                ADVANCED COMPUTER PROGRAMMIN
            </td>
            <td>
                A
            </td>
            <td>
                Anirach
            </td>
            <td>
                Mingkhwan
            </td>
        </tr>

        <tr>
            <td>
                6406022620011
            </td>
            <td>
                Jakapat
            </td>
            <td>
                Jodduangchan
            </td>
            <td>
                060233112
            </td>
            <td>
                DATA ENGINEERING
            </td>
            <td>
                A
            </td>
            <td>
                Sarayoot
            </td>
            <td>
                Tanessakulwattana
            </td>
        </tr>
        <tr>
            <td>
                640602262011
            </td>
            <td>
                Jakapat
            </td>
            <td>
                Jodduangchan
            </td>
            <td>
                060233113
            </td>
            <td>
                ADVANCED COMPUTER PROGRAMMIN
            </td>
            <td>
                A
            </td>
            <td>
                Anirach
            </td>
            <td>
                Mingkhwan
            </td>
        </tr>
        
        <tr>
            <td>
                6406022620031
            </td>
            <td>
                Chalongratd
            </td>
            <td>
                Kodlord
            </td>
            <td>
                060233112
            </td>
            <td>
                DATA ENGINEERING
            </td>
            <td>
                A
            </td>
            <td>
                Sarayoot
            </td>
            <td>
                Tanessakulwattana
            </td>
        </tr>
        <tr>
            <td>
                6406022620031
            </td>
            <td>
                Chalongratd
            </td>
            <td>
                Kodlord
            </td>
            <td>
                060233113
            </td>
            <td>
                ADVANCED COMPUTER PROGRAMMIN
            </td>
            <td>
                A
            </td>
            <td>
                Anirach
            </td>
            <td>
                Mingkhwan
            </td>
        </tr>
        
        
        
    </Table>
</body>
</html>